# Puerto en el que correrá el servidor
PORT=3000

# Entorno actual (development, production)
NODE_ENV=development

# Agrega aquí tus otras variables futuras, por ejemplo:
# DATABASE_URL=tu_cadena_de_conexion_aqui
# JWT_SECRET=tu_clave_secreta_aqui
